# base2.html
{% load static %}

<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  </head>
  <body>
    <style>
      .content{
        color: red;
      }
    </style>
    
    <div class="content">
      {% block content %}
      <h2>This is from base2.html</h2>
      {% endblock content %}
      {% comment %} {% if addon_js %}{{ addon_js|safe }}{% endif %}
      {% if scripts %}{{ scripts|safe }}{% endif %} {% endcomment %}
      {% block addon_js %}
      {% endblock addon_js %}

      {% block scripts %}
      {% endblock scripts %}
    </div>
  </body>
</html>