{% load static %}
<!-- RECEPTORS -->
<li class="dropdown gpcr {% if current_site == 'gpcr' %}highlight_menu{% endif %}" id="gpcrdb_menu">

    <a tabindex="0" href="{{ hosts.gpcr }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" data-submenu aria-expanded="false">
        Drugs<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a role="button" id='cite_gpcrdb'>Drug statistics</a></li>
        <li class="divider"></li>
        <li><a href="{{ hosts.gpcr }}/protein">Drug lookup</a></li>
        <li class="divider"></li>
        <li><a href="{{ hosts.gpcr }}/protein">Drug ATC code lookup
            <!-- <button mp4="https://files.gpcrdb.org/video/receptors1.mp4"
                    class="videoLink pull-right btn btn-xs btn-default">
                <span class="glyphicon glyphicon-film"></span>
            </button> -->
        </a></li>

        <li class="divider"></li>
        <li>
        <a href="{{ hosts.gpcr }}/alignment/targetselection">Drug-target network visualization
            <!-- <button mp4="https://files.gpcrdb.org/video/sequences1.mp4" type="button"
                    class="videoLink pull-right btn btn-xs btn-default">
                <span class="glyphicon glyphicon-film"></span>
            </button> -->
        </a>
        </li>
       

    </ul>
        
</li>


