{% load static %}
<!-- RECEPTORS -->
<li class="dropdown gpcr {% if current_site == 'gpcr' %}highlight_menu{% endif %}" id="gpcrdb_menu">

    <a tabindex="0" href="{{ hosts.gpcr }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" data-submenu aria-expanded="false">
        Drugs<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a  href="drugstatistic">Drug statistics</a></li>
        <li class="divider"></li>
        <li><a href="drug_atc_expansion">Drug lookup</a></li>
        <li class="divider"></li>
        <li><a href="{%url 'atc_lookup' %}">Drug ATC code lookup
        </a></li>

        <li class="divider"></li>
        <li>
        <a href="drug_target_network/">Drug-target network visualization
        </a>
        </li>
    </ul>
</li>


