{% load static %}

<!-- G PROTEINS -->
<li class="dropdown gprotein {% if current_site == 'gprotein' %}highlight_menu{% endif %}" id="gproteindb_menu">
    <a href="{{ hosts.gprotein }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        &nbsp;&nbsp;Targets<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a role="button" id='cite_gproteindb'>Target statistics</a></li>
        <li class="divider"></li>
        <li><a href="{{ hosts.gprotein }}/signprot/gprotein">Target lookup</a></li>
    </ul>
</li>
