{% load static %}

<!-- ARRESTINS -->
<li class="dropdown arrestin {% if current_site == 'arrestin' %}highlight_menu{% endif %}" id="arrestindb_menu">
    <a href="{{ hosts.arrestin }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    Variants<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a role="button" id='cite_arrestindb'>Variant statistics</a></li>
        <li class="divider"></li>
        <li><a href="{{ hosts.arrestin }}/signprot/arrestin">Variant lookup</a></li>
    </ul>
</li>
