{% comment %} {% extends 'home/base.html'%}  {% endcomment %}
{% comment %} {%for data in qs%} {% endcomment %}

{%block content%}
    <div id="myPlotlyPieChart"></div>
{%endblock content%}

{% block addon_js %}
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
{% endblock addon_js %}

{% block scripts %}
    <script>
        var data = [{
            values: [{{missense_variant}}, {{upstream_gene_variant}}, {{intron_variant}}, {{non_coding_transcript_variant}}, {{synonymous_variant}}, {{incomplete_terminal_codon_variant}}, {{coding_sequence_variant}}, {{downstream_gene_variant}}, {{stop_gained}}],
            labels: ['missense_variant', 'upstream_gene_variant', 'intron_variant', 'non_coding_transcript_variant', 'synonymous_variant', 'incomplete_terminal_codon_variant', 'coding_sequence_variant', 'downstream_gene_variant','stop_gained'],
            domain: {column: 0},
            name: 'Variant Consequence Statistics',
            hoverinfo: 'label+percent+name',
            hole: .4,
            type: 'pie'
        },];
        
        var layout = {
            title: 'Variant Consequence Statistics',
            annotations: [
            {
                font: {
                size: 20
                },
                showarrow: false,
                text: 'VCS',
                x: 0.17,
                y: 0.5
            }
            ],
            height: 400,
            width: 1500,
            showlegend: true,
            grid: {rows: 1, columns: 2},
            plot_bgcolor: 'lavender',
        };

        Plotly.newPlot("myPlotlyPieChart", data, layout);
    </script>  

{% endblock scripts %}


