{% comment %} {% extends "home/base.html" %} {% endcomment %}
{% load static %}
{% csrf_token %}

{% block addon_css %}
<style type="text/css">
	table, th, td {
		border: 1px solid;
		border-collapse: collapse;
		padding: 2px;
	}
	tr:hover {background-color: coral;}
</style>
{% endblock %}

<script>
	$(document).ready(function () {
		alert("hi");
    $('#example').DataTable();
});
</script>

<script 
	src="https://code.jquery.com/jquery-3.5.1.js">
</script>
<script 
	src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js">
</script>

{% block content %}
{% autoescape off %}

<div style='padding-top: 0px; font-size: 14px; overflow:scroll;   width:100%;'>
  <br />
  {% comment %} <div style='font-size: 12px;'>
  <p> Data showed in this table is collected from the <a href='//go.drugbank.com/' target='_blank'>Drugbank</a> database and <a href='https://www.uniprot.org/' target='_blank'>UniProt</a>  </p>
  </div>
	<a id="dlink" style="display:none;"></a>
	<div id="excel_table" style2="display:none;"></div>
	
	<button onclick="tableToExcel('structures_scrollable', 'Families data', 'EndogenousData.xls')" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Export to Excel </button>
	
	<button id="reset" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Reset filters </button> {% endcomment %}

	<table id="example" class="display" style="width:100%">
			<thead>
					<tr>
							<th>Name</th>
							<th>Position</th>
							<th>Office</th>
							<th>Age</th>
							<th>Start date</th>
							<th>Salary</th>
					</tr>
			</thead>
			<tbody>
					<tr>
							<td>Tiger Nixon</td>
							<td>System Architect</td>
							<td>Edinburgh</td>
							<td>61</td>
							<td>2011-04-25</td>
							<td>$320,800</td>
					</tr>
					<tr>
							<td>Garrett Winters</td>
							<td>Accountant</td>
							<td>Tokyo</td>
							<td>63</td>
							<td>2011-07-25</td>
							<td>$170,750</td>
					</tr>
					<tr>
							<td>Ashton Cox</td>
							<td>Junior Technical Author</td>
							<td>San Francisco</td>
							<td>66</td>
							<td>2009-01-12</td>
							<td>$86,000</td>
					</tr>
					<tr>
							<td>Cedric Kelly</td>
							<td>Senior Javascript Developer</td>
							<td>Edinburgh</td>
							<td>22</td>
							<td>2012-03-29</td>
							<td>$433,060</td>
					</tr>
					<tr>
							<td>Airi Satou</td>
							<td>Accountant</td>
							<td>Tokyo</td>
							<td>33</td>
							<td>2008-11-28</td>
							<td>$162,700</td>
					</tr>
					<tr>
							<td>Sonya Frost</td>
							<td>Software Engineer</td>
							<td>Edinburgh</td>
							<td>23</td>
							<td>2008-12-13</td>
							<td>$103,600</td>
					</tr>
					<tr>
							<td>Jena Gaines</td>
							<td>Office Manager</td>
							<td>London</td>
							<td>30</td>
							<td>2008-12-19</td>
							<td>$90,560</td>
					</tr>
					<tr>
							<td>Quinn Flynn</td>
							<td>Support Lead</td>
							<td>Edinburgh</td>
							<td>22</td>
							<td>2013-03-03</td>
							<td>$342,000</td>
					</tr>
					<tr>
							<td>Tatyana Fitzpatrick</td>
							<td>Regional Director</td>
							<td>London</td>
							<td>19</td>
							<td>2010-03-17</td>
							<td>$385,750</td>
					</tr>
					<tr>
							<td>Michael Silva</td>
							<td>Marketing Designer</td>
							<td>London</td>
							<td>66</td>
							<td>2012-11-27</td>
							<td>$198,500</td>
					</tr>
					<tr>
							<td>Paul Byrd</td>
							<td>Chief Financial Officer (CFO)</td>
							<td>New York</td>
							<td>64</td>
							<td>2010-06-09</td>
							<td>$725,000</td>
					</tr>
					<tr>
							<td>Gloria Little</td>
							<td>Systems Administrator</td>
							<td>New York</td>
							<td>59</td>
							<td>2009-04-10</td>
							<td>$237,500</td>
					</tr>
					<tr>
							<td>Yuri Berry</td>
							<td>Chief Marketing Officer (CMO)</td>
							<td>New York</td>
							<td>40</td>
							<td>2009-06-25</td>
							<td>$675,000</td>
					</tr>
					<tr>
							<td>Angelica Ramos</td>
							<td>Chief Executive Officer (CEO)</td>
							<td>London</td>
							<td>47</td>
							<td>2009-10-09</td>
							<td>$1,200,000</td>
					</tr>
					<tr>
							<td>Gavin Joyce</td>
							<td>Developer</td>
							<td>Edinburgh</td>
							<td>42</td>
							<td>2010-12-22</td>
							<td>$92,575</td>
					</tr>
					<tr>
							<td>Fiona Green</td>
							<td>Chief Operating Officer (COO)</td>
							<td>San Francisco</td>
							<td>48</td>
							<td>2010-03-11</td>
							<td>$850,000</td>
					</tr>
					<tr>
							<td>Shou Itou</td>
							<td>Regional Marketing</td>
							<td>Tokyo</td>
							<td>20</td>
							<td>2011-08-14</td>
							<td>$163,000</td>
					</tr>
					<tr>
							<td>Michelle House</td>
							<td>Integration Specialist</td>
							<td>Sydney</td>
							<td>37</td>
							<td>2011-06-02</td>
							<td>$95,400</td>
					</tr>
					<tr>
							<td>Gavin Cortez</td>
							<td>Team Leader</td>
							<td>San Francisco</td>
							<td>22</td>
							<td>2008-10-26</td>
							<td>$235,500</td>
					</tr>
					<tr>
							<td>Bruno Nash</td>
							<td>Software Engineer</td>
							<td>London</td>
							<td>38</td>
							<td>2011-05-03</td>
							<td>$163,500</td>
					</tr>
					<tr>
							<td>Sakura Yamamoto</td>
							<td>Support Engineer</td>
							<td>Tokyo</td>
							<td>37</td>
							<td>2009-08-19</td>
							<td>$139,575</td>
					</tr>
					<tr>
							<td>Thor Walton</td>
							<td>Developer</td>
							<td>New York</td>
							<td>61</td>
							<td>2013-08-11</td>
							<td>$98,540</td>
					</tr>
					<tr>
							<td>Finn Camacho</td>
							<td>Support Engineer</td>
							<td>San Francisco</td>
							<td>47</td>
							<td>2009-07-07</td>
							<td>$87,500</td>
					</tr>
					<tr>
							<td>Serge Baldwin</td>
							<td>Data Coordinator</td>
							<td>Singapore</td>
							<td>64</td>
							<td>2012-04-09</td>
							<td>$138,575</td>
					</tr>
					<tr>
							<td>Zenaida Frank</td>
							<td>Software Engineer</td>
							<td>New York</td>
							<td>63</td>
							<td>2010-01-04</td>
							<td>$125,250</td>
					</tr>
					<tr>
							<td>Zorita Serrano</td>
							<td>Software Engineer</td>
							<td>San Francisco</td>
							<td>56</td>
							<td>2012-06-01</td>
							<td>$115,000</td>
					</tr>

			</tbody>
			<tfoot>
					<tr>
							<th>Name</th>
							<th>Position</th>
							<th>Office</th>
							<th>Age</th>
							<th>Start date</th>
							<th>Salary</th>
					</tr>
			</tfoot>
	</table>
	<br>
</div>
{% endautoescape %}
{% endblock %}


{% block addon_js %}	
<script>
	$(document).ready(function () {
		alert("hi");
    $('#example').DataTable();
});
</script>

<script 
	src="https://code.jquery.com/jquery-3.5.1.js">
</script>
<script 
	src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js">
</script>
{% comment %} <script 
	src="{% static 'home/js/datatables.min.js' %}"> 
</script>
<script 
	src="{% static 'home/js/bootstrap2-toggle.min.js' %}">
</script>
<script 
	src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> 
</script>
<script 
	src="{% static 'home/js/dataTables.buttons.min.js' %}"> 
</script> {% endcomment %}


{% endblock %}




