
{% extends "home/base2.html" %} 
{% load static %} 
{% comment %} {% csrf_token %} {% endcomment %}

{% block title %}Try to plot a piechart{% endblock title %}


{% block content%}
  {{ block.super }}
  <h2>What Can Plotly Do?</h2>
  <p>Plotly can draw heatmap.</p>
  <div id="myDiv">
    <h2>Heatmap</h2>
  </div>
{% endblock content%}


{% block addon_js %}
  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
{% endblock addon_js %} 

{% block scripts %}
    <script>
        alert("inside block scripts");
        // data
        var data = [
        {
          z: [[1, null, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]],
          x: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
          y: ['Morning', 'Afternoon', 'Evening'],
          type: 'heatmap',
          hoverongaps: false
        }
        ];
        Plotly.newPlot('myDiv', data);
        
    </script> 
{% endblock scripts%}

