{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<style>
  
    .nv-x text{
    font-size: 10px;
    }
    body {
      background-color:#fff;
    }
    #targetdistribution text {
      fill: #000;
      font: 16px Arial;
    }
    #targetdistribution {
      background-color: #fff;
    }

</style>
{% endblock %}
{% block content %}

<h1 style="font-family: Arial">Drugs and targets:</h1>
<br>
<br>
<div>
  <svg id="targetdistribution"></svg>
</div>
<br>

<div class="row" style="position: relative; left: 75%; bottom:-100px;">
  <div class="col-xs-12">
<select onchange="updateClasses(this.value)" multiple class="form-control input-lg" size="2">
  <option value="trials">In clinical trials</option>
  <option selected="selected" value="approved">Approved</option>
</select>
  </div>
</div>
<div id="pieChart1" onload="updatetypes('approved')"></div>
<br>
<br>

<div class="row" style="position: relative; left: 75%; bottom:-100px;">
  <div class="col-xs-12">
<select onchange="updateClasses(this.value)" multiple class="form-control input-lg" size="2">
  <option value="trials">In clinical trials</option>
  <option selected="selected" value="approved">Approved</option>
</select>
  </div>
</div>
<div id="pieChart2" onload="updatetypes('approved')"></div>
<br>
<br>

<div class="row" style="position: relative; left: 75%; bottom:-100px;">
  <div class="col-xs-12">
<select onchange="updateClasses(this.value)" multiple class="form-control input-lg" size="2">
  <option value="trials">In clinical trials</option>
  <option selected="selected" value="approved">Approved</option>
</select>
  </div>
</div>
<div id="pieChart3" onload="updatetypes('approved')"></div>
<br>
<br>

<div class="row" style="position: relative; left: 75%; bottom:-100px;">
  <div class="col-xs-12">
<select onchange="updateClasses(this.value)" multiple class="form-control input-lg" size="2">
  <option value="trials">In clinical trials</option>
  <option selected="selected" value="approved">Approved</option>
</select>
  </div>
</div>
<div id="pieChart4" onload="updatetypes('approved')"></div>
<br>
<br>

<div class="row" style="position: relative; left: 75%; bottom:-100px;">
  <div class="col-xs-12">
<select onchange="updateClasses(this.value)" multiple class="form-control input-lg" size="2">
  <option value="trials">In clinical trials</option>
  <option selected="selected" value="approved">Approved</option>
</select>
  </div>
</div>
<div id="pieChart5" onload="updatetypes('approved')"></div>
<br>
<br>

<div class="row" style="position: relative; left: 75%; bottom:-100px;">
  <div class="col-xs-12">
<select onchange="updateClasses(this.value)" multiple class="form-control input-lg" size="2">
  <option value="trials">In clinical trials</option>
  <option selected="selected" value="approved">Approved</option>
</select>
  </div>
</div>
<div id="pieChart6" onload="updatetypes('approved')"></div>
<br>
<br>


<div id="unique" class="chart_container" style="background-color: #ffc8dd;">
  <div id="unique_year">
    <svg id="unique_cryst" style="width:1050;height:500px;"></svg>
  </div>
</div>

<center>Data only shown for drugs with an annotated approval year</center>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
{% block addon_js %}
<!-- http://d3pie.org/#generator-result -->
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/d3pie.js' %}"></script>
<script src="{% static 'home/js/d3pie.drug-statistics.js' %}"></script> <!-- Yang added --> 
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>

<script>

//dummy data
var dataset =  [{text:"Established", value: 250},
                {text:"Reached clinical trials", value: 100},
                {text:"Non-targeted", value: 50}];
var width = "90%",
    height = 60,
  perc_so_far = 0;

var total_time = 402;
var bar_x = 0;
var chart = d3.select("#targetdistribution")
  .attr("width", width)
  .attr("height", height);
  bar_x = 200;
  //var chart_width = chart.style("width").replace("px", "");
var chart_width = parseInt(d3.select("#targetdistribution").style("width"));

var color = d3.scale.ordinal()
  .domain(["New York", "San Francisco", "Austin"])
  .range(["#7678ed", "#f7b801" , "#f35b04"]);

var bar = chart.selectAll("g")
  .data(dataset)
  .enter().append("g");

var tooltip = d3.select("body")
  .append("div")
  .style("position", "absolute")
  .style("z-index", "10")
  .style("visibility", "hidden")
  .style("color", "white")
  .style("padding", "8px")
  .style("background-color", "rgba(0, 0, 0, 0.75)")
  .style("border-radius", "6px")
  .style("font", "12px sans-serif")
  .text("tooltip");

  bar.append("rect")
  .attr("width", function(d) { return ((d.value/total_time)*100) + "%"; } )
  .attr("rx", 10) // rounded corners
  .attr("x", function(d) {
    var prev_perc = perc_so_far;
    var this_perc = 100*(d.value/total_time);
    perc_so_far = perc_so_far + this_perc;
    return prev_perc + "%";
  })
  .attr("height", height)
  .attr("fill",  function(d) { return (color(d.value)) } )
  .on("mouseover", function(d) {
      tooltip.text(d.text + " receptors: "+ d.value + " (" + Math.round((d.value/total_time).toFixed(2)*100) + "%)")
      tooltip.style("visibility", "visible")
  })
  .on("mousemove", function() {
    return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
  })
  .on("mouseout", function(){return tooltip.style("visibility", "hidden")});

  perc_so_far = 0;
  bar.append("text")
  .attr("x", function(d) {
    var prev_perc = perc_so_far;
    var this_perc = 100*(d.value/total_time);
    perc_so_far = perc_so_far + this_perc;
    return prev_perc + this_perc/8 + "%";
  })
  .attr("y", 11)
  .attr("dy", "1.35em")
  // .attr("text-anchor", "end")
  .data(dataset)
  .text(function(d) { return d.text; });

  d3.select(window).on('resize', resize);

  function resize () {
    var width = parseInt(d3.select("#targetdistribution").style("width"));
  }
</script>
  updateTypes('approved');
  function updateTypes(request) {

    var series = {{drugtypes_approved|safe}}
    text = "Approved and distinct drugs"

    if (request == 'trials') {
      text = "Clinical trials agents"
      series = {{drugtypes_trials|safe}}
    }
    else if (request == 'estab') {
      text = "Agents targeting established targets"
      series = {{drugtypes_estab|safe}}
    }
    else if (request == 'not_estab') {
      text = "Agents targeting not established targets"
      series = {{drugtypes_not_estab|safe}}
    }
    updatermoas(series,text);
  }

  function updatermoas(series,text) {

    $("#pie_types").html("");
    <!--call show_donut function here -->

  }
<script>

</script>


{% endblock %}
