<!DOCTYPE html>
<html>
<head>
    <title>Protein Viewer</title>
</head>
<body>
    <style>
      #protein-viewer {
        width: 60%;
        height: 400px;
        position: relative;
      }
    </style>
    <div id="protein-viewer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://3dmol.org/build/3Dmol-min.js"></script>
    <script>

      let element = $('#protein-viewer');
      let config = { backgroundColor: 'orange' };
      let viewer = $3Dmol.createViewer( element, config );
      {#debugger#}

      //First example - viewing one structure after downloading
         $3Dmol.download("pdb:4wwy",viewer,{},function(){
             {#debugger#}

             // Get the 100th atom in the structure
                {#let atom = viewer.getModel().selectedAtoms({index: 100})[0];#}


                {#viewer.setStyle({index: 100},{'cartoon':{color:'red'}});#}
             // this set style for atom from ... to ...

              viewer.setStyle({resi:["10-20","40-50"]},{cartoon:{color:"purple",thickness:1.0}});

              viewer.setStyle({resi:["100-200","400-500"]},{cartoon:{color:"red",thickness:1.0}});

             // Then you can set style for this atom
                {#atom.style = {sphere: {color: 'red', radius: 1.0}};#}
      //    var atoms = viewer.selectedAtoms({chain:'A'});
        //  for(var i = 0, n = atoms.length; i < n; i++) {
         //    atoms[i].b = 0.9;
          //}
          {#viewer.setStyle({cartoon:{colorscheme:{prop:'b',gradient: 'roygb',min:0,max:30}}});#}
          viewer.render();
        });


    {#  viewer.setBackgroundColor(0xffffffff);#}
    {#$3Dmol.download('pdb:5IRE',viewer,{doAssembly: false},function(m) {#}
    {#    viewer.setStyle({index: 100},{'cartoon':{color:'red'}});#}
    {#m.setStyle({chain:'A'},{'cartoon':{color:'spectrum'}});#}
    {#m.setStyle({chain:'C'},{'cartoon':{style:'trace',color:'blue'}});#}
    {#m.setStyle({chain:'E'},{'cartoon':{tubes:true,arrows:true,color:'green',opacity:0.75}});#}
    {#m.setStyle({chain:'B'},{'cartoon':{color:'red',opacity:0.5}});#}
    {#m.setStyle({chain:'D'},{'cartoon':{style:'trace',color:'grey',opacity:0.75}});#}
    {#m.setStyle({chain:'F'},{'cartoon':{arrows:true,color:'white'}});#}
    {#// viewer.addStyle({chain:'B'},{line:{}});#}
    {#viewer.zoomTo();#}
    {#viewer.render();#}
    {#});#}
        //Second example - set color by function
        {% comment %} $3Dmol.download("pdb:4UAA",viewer,{},function(){
          viewer.setBackgroundColor(0xffffffff);
          var colorAsSnake = function(atom) {
            return atom.resi % 2 ? 'white': 'green'
          };
          viewer.setStyle( {}, { cartoon: {colorfunc: colorAsSnake }});
          viewer.render();
        });  {% endcomment %}

        //3rd example - set coordinates
        {% comment %} let m = viewer.addModel()  //create an empty model
         m.addAtoms([{x:0,y:0,z:0,elem:'C'},{x:2,y:0,z:0,elem:'C'}]) //provide a list of dictionaries representing the atoms
         viewer.setStyle({'sphere':{}})
         m.setCoordinates([[[0.0, 0.0, 0.0], [2.0, 0.0, 0.0]], [[0.0, 0.0, 0.0], [2.8888888359069824, 0.0, 0.0]], [[0.0, 0.0, 0.0], [3.777777671813965, 0.0, 0.0]], [[0.0, 0.0, 0.0], [4.666666507720947, 0.0, 0.0]], [[0.0, 0.0, 0.0], [5.55555534362793, 0.0, 0.0]], [[0.0, 0.0, 0.0], [6.44444465637207, 0.0, 0.0]], [[0.0, 0.0, 0.0], [7.333333492279053, 0.0, 0.0]], [[0.0, 0.0, 0.0], [8.222222328186035, 0.0, 0.0]], [[0.0, 0.0, 0.0], [9.11111068725586, 0.0, 0.0]], [[0.0, 0.0, 0.0], [10.0, 0.0, 0.0]]],'array');
         viewer.animate({loop: "forward",reps: 1});
         viewer.zoomTo();
         viewer.zoom(0.5);
         viewer.render();  {% endcomment %}

         //4th example - viewer.setStyle
         {% comment %} $3Dmol.download("pdb:4UB9",viewer,{},function(){
          viewer.setBackgroundColor(0xffffffff);

          viewer.setStyle({chain:'A'},{line:{hidden:true,colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.Sinebow($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.setStyle({chain:'B'},{line:{colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.Sinebow($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.setStyle({chain:'C'},{cross:{hidden:true,colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.Sinebow($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.setStyle({chain:'D'},{cross:{colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.RWB($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.setStyle({chain:'E'},{cross:{radius:2.0,colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.RWB($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.setStyle({chain:'F'},{stick:{hidden:true,colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.RWB($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.setStyle({chain:'G'},{stick:{radius:0.8,colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.ROYGB($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.setStyle({chain:'H'},{stick:{singleBonds:true,colorscheme:{prop:'b',gradient: new $3Dmol.Gradient.ROYGB($3Dmol.getPropertyRange(viewer.selectedAtoms(),'b'))}}});
          viewer.render();
        }); {% endcomment %}

        //5th example - hide() and show() method
        {% comment %} $3Dmol.download("pdb:3ucr",viewer,{},function(){
          viewer.setStyle({},{stick:{}});
          viewer.getModel().hide();
          viewer.render(  )
          viewer.getModel().show()
          viewer.render();
          }); {% endcomment %}

        //6th example - vibrate
        {% comment %} $3Dmol.download("pdb:4U2A",viewer,{},function(){
          viewer.setStyle({},{stick:{}});
          viewer.vibrate(10, 1);
          viewer.animate({loop: "forward",reps: 1});
  
          viewer.zoomTo();
                viewer.render();
            }); {% endcomment %}

        //7th - addArrow shape
        {% comment %} $3Dmol.download("pdb:4DM7",viewer,{},function(){
          viewer.setBackgroundColor(0xffffffff);
          viewer.addArrow({
              start: {x:-10.0, y:0.0, z:0.0},
              end: {x:0.0, y:-10.0, z:0.0},
              radius: 1.0,
              radiusRadio:1.0,
              mid:1.0,
              clickable:true,
              callback:function(){
                  this.color.setHex(0xFF0000FF);
                  viewer.render( );
              }
          });
          viewer.render();
        }); {% endcomment %}

        //8th - addBox
        {% comment %} var shape = viewer.addShape({color:'red'});
        shape.addBox({corner: {x:1,y:2,z:0}, dimensions: {w: 4, h: 2, d: 6}});
        shape.addBox({corner: {x:-5,y:-3,z:0},
                      dimensions: { w: {x:1,y:1,z:0},
                                    h: {x:-1,y:1,z:0},
                                    d: {x:0,y:0,z:1} }});
        viewer.zoomTo();
        viewer.rotate(30);
        viewer.render(); {% endcomment %}

        //9th - add Cylinder
        {% comment %} viewer.addCylinder({start:{x:0.0,y:0.0,z:0.0},
                              end:{x:10.0,y:0.0,z:0.0},
                              radius:1.0,
                              fromCap:1,
                              toCap:2,
                              color:'red',
                              hoverable:true,
                              clickable:true,
                              callback:function(){ this.color.setHex(0x00FFFF00);viewer.render( );},
                              hover_callback: function(){ viewer.render( );},
                              unhover_callback: function(){ this.color.setHex(0xFF000000);viewer.render( );}
                             });
        viewer.addCylinder({start:{x:0.0,y:2.0,z:0.0},
                            end:{x:0.0,y:10.0,z:0.0},
                            radius:0.5,
                            fromCap:false,
                            toCap:true,
                            color:'teal'});
        viewer.addCylinder({start:{x:15.0,y:0.0,z:0.0},
                            end:{x:20.0,y:0.0,z:0.0},
                            radius:1.0,
                            color:'black',
                            fromCap:false,
                            toCap:false});
        viewer.render(); {% endcomment %}

        //10th - addLine 
        {% comment %} $3Dmol.download("pdb:2ABJ",viewer,{},function(){
          viewer.addLine({dashed:true,start:{x:0,y:0,z:0},end:{x:100,y:100,z:100}});
          viewer.render();
        }); {% endcomment %}

        //11th - updateStyle
        {% comment %} let sphere = viewer.addSphere({center:{x:0,y:0,z:0},radius:10.0,color:'red'});
        sphere.updateStyle({color:'yellow',opacity:0.5});
        viewer.render(); {% endcomment %}

        //12th - CustomLinear
        {% comment %} $3Dmol.get('/data/pdb/Q9NZL9.pdb', function(data){
          viewer.addModel(data);
          viewer.setStyle({cartoon:{colorscheme:{prop: 'b', gradient:'linear', min: 70, max: 100, colors: ["blue","yellow","green"]}}});
          viewer.zoomTo();
          viewer.render();
        }); {% endcomment %}

        //13th - AtomSelectionSpec
        {% comment %} $3Dmol.download("pdb:2EJ0",viewer,{},function(){
          viewer.setStyle({chain:'B'},{cartoon:{color:'spectrum'}});
          viewer.setStyle({chain:'B',invert:true},{cartoon:{}});
          viewer.setStyle({bonds: 0},{sphere:{radius:0.5}}); //water molecules
          viewer.setStyle({resn:'PMP',byres:true,expand:5},{stick:{colorscheme:"greenCarbon"}});
          viewer.setStyle({resi:["91-95","42-50"]},{cartoon:{color:"green",thickness:1.0}});
          viewer.render();
         }); {% endcomment %}

         //14th - CartoonStyleSpec
         {% comment %} $3Dmol.download("pdb:4ZD3",viewer,{},function(){
          viewer.setBackgroundColor(0xffffffff);
          viewer.setViewStyle({style:"outline"});
          viewer.setStyle({},{cartoon:{}});
          viewer.render();
          }); {% endcomment %}

          //15th - SurfaceStyleSpec
          {% comment %} var setStyles = function(volumedata){
            var data = new $3Dmol.VolumeData(volumedata, "cube");
            viewer.addSurface("VDW", {opacity:0.85, voldata: data, volscheme: new $3Dmol.Gradient.RWB(-10,10)},{chain:'A'});
            viewer.mapAtomProperties($3Dmol.applyPartialCharges);
            viewer.addSurface($3Dmol.SurfaceType.SAS, {map:{prop:'partialCharge',scheme:new $3Dmol.Gradient.RWB(-.05,.05)}, opacity:1.0},{chain:'B'});
            viewer.addSurface($3Dmol.SurfaceType.VDW, {opacity:0.85,voldata: data, color:'red'},{chain:'C'});
            viewer.addSurface($3Dmol.SurfaceType.SAS, {opacity:0.85,voldata: data, colorscheme:'greenCarbon'},{chain:'D'});
            viewer.render();
           };
           $3Dmol.download("pdb:4DLN",viewer,{},function(){
             $.get("data/1fas.cube",setStyles);
           }); {% endcomment %}

           //16th - WithinSelectionSpec
           {% comment %} $3Dmol.download("pdb:2EJ0",viewer,{},function(){
            viewer.setStyle({chain: 'A', within:{distance: 10, sel:{chain: 'B'}}}, {sphere:{}});
            viewer.render();
           });// stylizes atoms in chain A that are within 10 angstroms of an atom in chain B {% endcomment %}


        //Second example - viewing one structure in different styles after downloading using ViewerGrid
        {% comment %} var viewers = $3Dmol.createViewerGrid(
          'protein-viewer', //id of div to create canvas in, no "#" needed
          {
            rows: 2,
            cols: 2,
            control_all: true  //mouse controls all viewers
          },
          { backgroundColor: 'lightgrey' }
        );
        $.get('/data/pdb/Q9NZL9.pdb', function(data) {
          var viewer = viewers[0][0];
          viewer.addModel(data,'pdb');
          viewer.setStyle({sphere:{}});
          viewer.zoomTo();
          viewer.render( );

          viewer = viewers[0][1];
          viewer.addModel(data,'pdb');
          viewer.setStyle({stick:{}});
          viewer.zoomTo();     
          viewer.render( );
          
          viewer = viewers[1][0];
          viewer.addModel(data,'pdb');
          viewer.setStyle({cartoon:{color:'spectrum'}});
          viewer.zoomTo();     
          viewer.render( );
          
          viewer = viewers[1][1];
          viewer.addModel(data,'pdb');
          viewer.setStyle({cartoon:{colorscheme:'chain'}});
          viewer.zoomTo();     
          viewer.render();
        }); {% endcomment %}
    </script>
</body>
</html>
