{% extends "home/base.html" %}
{% load static %}
{% csrf_token %}


{% block addon_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'drug/css/atc_lookup.css' %}">


    <style>
        .expanded {
            display: block;
        }

        /* styles.css */
        .grid-container {
            display: grid;
            grid-template-columns: 35% 65%; /* Left column: 40%, Right column: 60% */
            gap: 30px; /* Gap between columns */
        }

        .left {
            padding: 20px;
        }

        .right {
            padding: 20px;
        }

        /* Center vertically align the content in all cells */
        /* #associated_drug_tbl {
            border-collapse: collapse;
            width: 100%;
            border-radius: 10px;
            margin-right: 30px;
        } */

        #associated_drug_tbl th {
            background-color: #f2f2f2;
        }

        #associated_drug_tbl th,
        #associated_drug_tbl td {
            vertical-align: middle;
            text-align: center; /* Center horizontally align the content */
            padding: 8px; /* Adjust padding as needed */
            border: 1px solid #ccc; /* Add border for cells */
        }

        /* Apply alternating row colors */
        #associated_drug_tbl tr:nth-child(even) {
            background-color: #f2f2f2; /* Color 1 for even rows */
        }

        #associated_drug_tbl tr:nth-child(odd) {
            background-color: rgba(241, 124, 14, 0.2); /* Color 2 for odd rows */
        }

        .clicked-link {
            color: pink;
            font-size: 22px;
        }

        #atc_left {
            overflow: auto; /* Enable vertical and horizontal scrolling */
            white-space: nowrap; /*Prevent text from wrapping*/
            height: 90vh;
            /* width: 70vh; */
        }

        #atc_left::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
            height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
            margin-left: 10px;
        }

        /* Thumb (the draggable part) */
        #atc_left::-webkit-scrollbar-thumb {
            background: rgb(136, 136, 136, 0.2); /* Color of the thumb */
            border-radius: 6px; /* Rounded corners */
        }

        /* Handle on hover */
        #atc_left::-webkit-scrollbar-thumb:hover {
            background: rgb(85, 85, 85, 0.4); /* Color of the thumb on hover */
        }


    </style>
{% endblock %}

{% block content %}
    {% autoescape off %}

        <div class="grid-container">
            <div id="atc_left" class="col-4">
                <!-- show data in level 1 -->
                <ul class="tree">
                    <li>{{ group_id }} - <a href="#" class="desc">{{ group_name }}</a>

                        <!-- show data in level 2 -->
                        <ul>
                            {% for g2 in group2s %}
                                {% if g2.parent_id == group_id %}
                                    <li>
                                        {{ g2.id }} - <a href="#" class="desc">{{ g2.name }} </a>
                                        <!-- show data in level 3 -->
                                        <ul>
                                            {% for g3 in group3s %}
                                                {% if g3.parent_id == g2.id %}
                                                    <li>
                                                        {{ g3.id }} -<a href="#" class="desc"> {{ g3.name }} </a>
                                                        <!-- show data in level 4 -->
                                                        <ul>
                                                            {% for g4 in group4s %}
                                                                {% if g4.parent_id == g3.id %}
                                                                    <li>
                                                                        {{ g4.id }} -<a href="#"
                                                                                        class="desc"> {{ g4.name }} </a>
                                                                        <!-- show data in level 5 -->
                                                                        <ul>
                                                                            {% for g5 in group5s %}
                                                                                {% if g5.parent_id == g4.id %}
                                                                                    <li>
                                                                                        {{ g5.id }} -<a href="#"
                                                                                                        class="desc"> {{ g5.name }} </a><a
                                                                                            href="#"
                                                                                            class="info drug-atc-association"
                                                                                            data-remote-url="{% url 'get-drug-atc-association' %}"
                                                                                            data-atc-code="{{ g5.id }}"
                                                                                            data-target="#atc_right"><i
                                                                                            class="fas fa-info"></i></a>
                                                                                    </li>
                                                                                {% endif %}
                                                                            {% empty %}
                                                                                <li>
                                                                                    No data available
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% endif %}
                                                            {% empty %}
                                                                <li>
                                                                    No data available
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% empty %}
                                                <li>
                                                    No data available
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% empty %}
                                <li>
                                    No data available
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="atc_right" class="col-8">
                <!-- block for showing tables -->

                <!-- block for showing network -->
                <div class="spinner"></div>
                <div id="overlay"></div>

                <div id="dialog" style="display: none;">
                    <div class="toolbar">
                        <div class="toolbar-left">
                            <h1 id="drug-name"></h1>
                        </div>
                        <div class="toolbar-right">
                            <button id="close-button">✕</button>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-tab="drug-image" href="#">Drug/biologics structure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="drug-description" href="#">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="drug-structure" href="#">Other properties</a>
                        </li>

                    </ul>
                    <div class="tab-content">

                        <!-- Content for each tab will be added dynamically -->
                    </div>
                </div>


                <!--Child/Protein Nodes Dialog-->
                <div id="dialog1" style="display: none;">
                    <div class="toolbar1">
                        <div class="toolbar-left">
                            <h1 id="drug-name1"></h1>
                        </div>
                        <div class="toolbar-right">
                            <button id="close-button1">✕</button>
                        </div>
                    </div>
                    <ul class="nav nav-tabs1">
                        <li class="nav-item1">
                            <a class="nav-link1 active" data-tab="protein-image" href="#">Protein structure</a>
                        </li>
                        <li class="nav-item1">
                            <a class="nav-link1" data-tab="protein-structure" href="#">Protein properties</a>
                        </li>

                    </ul>
                    <div class="tab-content1">

                        <!-- Content for each tab will be added dynamically -->
                    </div>
                </div>

                <!--Interaction/Links Nodes Dialog-->
                <div id="dialog2" style="display: none;">
                    <div class="toolbar2">
                        <div class="toolbar-left">
                            <h1 id="drug-name2"></h1>
                        </div>
                        <div class="toolbar-right">
                            <button id="close-button2">✕</button>
                        </div>
                    </div>
                    <ul class="nav nav-tabs2">
                        <li class="nav-item2">
                            <a class="nav-link2 active" data-tab="interaction-strcuture" href="#">Details</a>
                        </li>

                    </ul>
                    <div class="tab-content2">

                        <!-- Content for each tab will be added dynamically -->
                    </div>
                </div>

                <div id="screenshot">
                    <div id="chart"></div>
                    <div id="legendsMainDiv" class="center-vertical-container">
                        <div id="all-legends">
                            <!-- Interaction legend (Hidden)-->
                            <!--
                    <div id="legend">
                      <h3>Interaction type</h3>
                      <div id="legend-content">

                      </div>
                    </div>
                    -->

                            <div id="legend_drug_status">
                                <h3>Clinical status</h3>
                                <div id="legend_drug_status-content">
                                    <!-- Legend items will be populated dynamically -->
                                </div>
                            </div>
                            <div id="legend_drug_type">
                                <h3>Product type</h3>
                                <div id="legend_drug_type-content">
                                    <!-- Legend items will be populated dynamically -->
                                </div>
                            </div>

                            <div id="legend_protein_status">
                                <h3>Protein super family</h3>
                                <div id="legend_protein_status-content">
                                    <!-- Legend items will be populated dynamically -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--Screenshot div closing-->
                <div class="d-flex justify-content-center btmbar" id="threshold-slider-container">
                    <button type="button" class="btn btn-light d-flex btmbar zoom-in-btn"><i
                            class="fas fa-search-plus zoom-in-icon"></i>&nbsp;Zoom In
                    </button>
                    <button type="button" class="btn btn-light d-flex btmbar col-xs-2 margin-left zoom-out-btn"><i
                            class="fas fa-search-minus zoom-out-icon"></i>&nbsp;Zoom Out
                    </button>

                    <label class="d-flex btmbar" for="threshold-slider">&nbsp;Threshold Value:</label>
                    <input class="d-flex btmbar" type="range" id="threshold-slider" min="1" max="" value="" step="1">
                    <span class="d-flex btmbar" id="threshold-value"></span>
                    <button type="button" id="exportButton" class="btn btn-light d-flex btmbar">Export</button>
                    <button type="button" id="redrawChart" class="btn btn-light d-flex btmbar">Redraw</button>
                </div>

            </div>
        </div>


    {% endautoescape %}
{% endblock %}


{% block addon_js %}

    <script>
        // JavaScript for toggling the visibility of nested lists
        document.querySelectorAll('.tree .desc').forEach(function (el) {

            el.addEventListener('click', function () {
                var parentLi = el.parentElement; // Get the parent <li> element
                var ul = parentLi.querySelector('ul'); // Select the nested <ul>
                // alert("display property of ul:  "+ ul.style.display+"*****");
                if (ul) {
                    if (ul.style.display === "" || ul.style.display === "none") {
                        ul.style.display = 'block';
                    } else {
                        if (ul.style.display === 'block') {
                            ul.style.display = 'none';
                        }
                    }
                }
            });
        });
    </script>

    <!-- Script for showing all drugs associated with an ATC code  -->
    <script>
        $(document).ready(function () {
            $('.info.drug-atc-association').click(function (e) {
                e.preventDefault();
                // Add the 'clicked-link' class to the clicked link
                $(this).addClass('clicked-link');
                let atc_code = $(this).data('atc-code');
                let url = $(this).data('remote-url');

                $.ajax(
                    {
                        url: url,
                        type: "GET",
                        data: {
                            'atc_code': atc_code,
                        },
                        success: function (response) {
                            $("#atc_right").html(response)
                            list_associated_drugs(response)
                        },
                        error: function (xhr, status, error) {
                            alert('AJAX Error:', error);
                        }
                    })
            });

            function list_associated_drugs(response) {
                // $("#atc_right").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Drugs associated with this ATC-CODE: ');
                // Check if the 'associations' key exists in the JSON response
                var associations = response.associations;
                var right_panel = document.getElementById('atc_right');
                var right_panel_text = document.createElement("span");
                // Set the font size to 18px
                right_panel_text.style.fontSize = "16px";

                // You can also set other CSS properties as needed
                right_panel_text.style.color = '#337ab7'; // Example: Change text color to blue
                right_panel_text.style.fontWeight = "bold";
                if (associations.length > 0) {
                    var tableHtml = '<table id="associated_drug_tbl"><thead><tr><th>Drugbank ID</th><th>Drug name</th><th>Short description</th></tr></thead><tbody>';

                    // Iterate through the associations data and populate the table rows
                    for (var i = 0; i < associations.length; i++) {
                        var row = associations[i];
                        tableHtml += `
                        <tr>
                            <td>
                                <a href="#" class="associated_drug"
                                    data-drugbank_id="${row.drug_bankID}"
                                    onclick="drawDrugNetwork(this)"
                                    data-target="#atc_right">
                                    ${row.drug_bankID}
                                </a>
                            </td>
                            <td>${row.name}</td>
                            <td>${row.description}</td>
                        </tr>
                        `
                    }
                    tableHtml += '</tbody></table>';

                    right_panel_text.innerHTML = "Drugs associated with " + response.atc_code;
                    var right_panel_content = document.createElement("div");
                    right_panel_content.id = "atc_right_table";
                    right_panel_content.style.marginRight = '30px';
                    right_panel_content.innerHTML = tableHtml;
                    right_panel.appendChild(right_panel_text);
                    right_panel.appendChild(right_panel_content);
                } else {
                    right_panel_text.innerHTML = "There is no drugs associated with " + response.atc_code;
                    right_panel.appendChild(right_panel_text);

                }
            }
        });
    </script>

    <!-- script for showing network associated with a drug -->
    <script>
        {% comment %}
        $(document).ready(function () {
            $('.associated_drug').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'get-drug-network-frame' %}",
                    type: "GET",
                    data: {
                        'drugbank_id': this.data('drugbank_id'),
                    },
                    success: function (response) {
                        $("#atc_right").append(response);
                    },
                    error: function (xhr, status, error) {
                        alert('AJAX Error:', error);
                    }
                })

            });

        })
        {% endcomment %}

        function drawDrugNetwork(e) {
            //$(e).preventDefault();
            $.ajax({
                url: "{% url 'get-drug-network-frame' %}",
                type: "GET",
                data: {
                    'drugbank_id': $(e).data('drugbank_id'),
                },
                success: function (response) {
                    $("#atc_right").append(response);
                },
                error: function (xhr, status, error) {
                    alert('AJAX Error:', error);
                }
            })
        }

        function drug_network(e) {
            // $(e).preventDefault();
            // Add the 'clicked-link' class to the clicked link
            $(e).addClass('drug_network');
            let drugbank_id = $(e).data('drugbank_id');
            let url = $(e).data('remote-url');

            $.ajax(
                {
                    url: url,
                    type: "GET",
                    data: {
                        'drugbank_id': drugbank_id,
                    },
                    success: function (response) {
                        draw_drug_network(response);
                    },
                    error: function (xhr, status, error) {
                        alert('AJAX Error:', error);
                    }
                })

            // Function to generate an HTML table from JSON data
            function generateTable(data) {
                var table = document.createElement('table');
                var thead = table.createTHead();
                var tbody = table.createTBody();

                // Create table headers from the first object in the data
                var headerRow = thead.insertRow();
                for (var key in data[0]) {
                    var th = document.createElement('th');
                    th.textContent = key;
                    headerRow.appendChild(th);
                }

                // Create table rows and cells from the JSON data
                data.forEach(function (item) {
                    var row = tbody.insertRow();
                    for (var key in item) {
                        var cell = row.insertCell();
                        cell.textContent = item[key];
                    }
                });
                return table;
            }

            function draw_drug_network(response) {
                var right_panel = document.getElementById('atc_right');
                var right_panel_network = document.createElement("div");
                right_panel_network.id = "atc_right_network";
                right_panel_network.style.backgroundColor = "violet";
                right_panel_network.style.height = "800px";
                right_panel_network.style.marginRight = '30px';
                right_panel_network.style.marginTop = '30px';

                // Generate the table and append it to the div element
                var drugNetworkData = response.drug_network_data;

                var table = generateTable(drugNetworkData);
                right_panel_network.appendChild(table);

                right_panel.appendChild(right_panel_network);
            }
        };


    </script>
{% endblock %}