{% extends "home/base.html" %} 
{% load static %} 
{% csrf_token %} 
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/bootstrap2-toggle.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css" />
<!--This is for the filter, min max, pagination styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css" />
<link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
{% endblock addon_css %} 

{% block content %} 
{% autoescape off %}

<div style="padding-top: 0px; font-size: 14px; white-space: nowrap; overflow-y:hidden; width: 100%">
  <br />

  <div style="font-size: 12px">
    <p>
      Data showed in this table is collected from the <a href='//go.drugbank.com/' target='_blank'>Drugbank</a> database and <a href='https://www.uniprot.org/' target='_blank'>UniProt</a>
    </p>
  </div>
  <a id="dlink" style="display: none"></a>
  <div id="excel_table" style2="display:none;"></div>

  <button
    onclick="tableToExcel('structures_scrollable', 'Families data', 'EndogenousData.xls')"
    type="button"
    class="btn btn-primary"
    style="margin-top: 10px; margin-top: 3px"
  >
    Export to Excel
  </button>

  <button
    id="reset"
    type="button"
    class="btn btn-primary"
    style="margin-top: 10px; margin-top: 3px"
  >
    Reset filters
  </button>

  <p style="margin-top:10px;margin-bottom:10px;color:#014F86">Interactions for {{drugname}} (drugbank ID =  {{drugID}})</p>

  <div id="structures_scrollable_table">
    <table class="display compact text-nowrap" id='structures_scrollable' style="width: 100%">
      <thead id="headers">
        <tr class="table-filter-dropdown">
          <!-- Position blok -->
          <th style="text-align: left">Drugbank ID</th>
					<th style="text-align: left">Drugtype</th>
          <th style="text-align: left">Name</th>
          <th style="text-align: left">Group</th>
          <th style="text-align: left">Categories</th>
					<th style="text-align: left">Description</th>
          <th style="text-align: left">Aliases</th>
          <th style="text-align: left">Superclass</th>
        </tr>
      </thead>
      <tbody id='structures_scrollable_body'>
        {% comment %} {% for p in context_list %} {% endcomment %}
        <tr>
					<td style="text-align: left">{{drug_bankID}}</td>
					<td style="text-align: left">{{drugtype}}</td>
					<td style="text-align: left">{{name}}</td>
					<td style="text-align: left">{{groups}}</td>
					<td style="text-align: left">{{categories}}</td>
          <td style="text-align: left">{{description}}</td>
          <td style="text-align: left">{{aliases}}</td> 
          <td style="text-align: left">{{superclass}}</td>
        </tr>
        {% comment %} {% endfor %} {% endcomment %}
      </tbody>
    </table>
    <br />

  </div>
	</div> 

	{% comment %} <div id="connected-graph">
		{% include "connected-graph.html" %}
	</div>  {% endcomment %}
</div>
{% endautoescape %} 
{% endblock %}

{% block addon_js %}
<script> 
  console.log("I am here again");
  console.log("I am here");
</script>
<script src="{% static 'home/js/datatables.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"> </script>
<script src="{% static 'home/js/select2.full.js' %}"> </script>
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/d3pie.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
{% endblock addon_js %}  
