{% extends "home/base.html" %} 
{% load static %} 
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<style media="screen">
</style>

<style>
	#drugdata tr {
		max-height: 50px !important; /* set your desired maximum height */
		overflow-y: scroll; /* add vertical scrollbar when content overflows */
	}
</style>
{% endblock %}

{% block content %} 
<h2>Drug Browser</h2>
<button onclick="tableToExcel()" type="button" class="btn btn-primary" style="margin-top:10px;margin-top:3px"> Export to Excel </button>
<div class="row">
    <div class="col-md-12 text-center">
        {% if drugdata %}
        <div style="padding-top: 10px; font-size: 12px; ">
            <table style="width:100%; table-layout:fixed; " class="table" id="drugdata">
								<colgroup>
									<col>
									<col>
									<col>
									<col>
									<col style="width: 500px; word-wrap: break-word; ">
									<col style="width: 1000px; word-wrap: break-word; ">
									<col style="width: 900px; word-wrap: break-word; ">
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col style="width: 600px; word-wrap: break-word; ">
									<col style="width: 600px; word-wrap: break-word; ">
									<col style="width: 600px; word-wrap: break-word; ">
									<col style="width: 600px; word-wrap: break-word; ">
									<col style="width: 600px; word-wrap: break-word; ">
									<col style="width: 600px; word-wrap: break-word; ">
									<col style="width: 600px; word-wrap: break-word; ">
									<col>
									<col style="width: 600px; word-wrap: break-word; ">
									<col>
									<col>
									<col>
								</colgroup> 

                <thead>
                    <tr>

											<th style="text-align:center; background-color:#98df8a;">Drugbank ID</th>
											<th style="text-align:center; background-color:#98df8a;">Drug Type</th>
											<th style="text-align:center; background-color:#98df8a;">Drug Name</th>
											<th style="text-align:center; background-color:#aec7e8;">Group</th>
											<th style="text-align:center; background-color:#aec7e8;">Category</th>
											<th style="text-align:center; background-color:#ffbb78;">Description</th>
											<th style="text-align:center; background-color:#ffbb78;">Aliases</th>
											<th style="text-align:center; background-color:#4cc9f0;">Superclass</th>
											<th style="text-align:center; background-color:#4cc9f0;">Class</th>
											<th style="text-align:center; background-color:#4cc9f0;">Subclass</th>
											<th style="text-align:center; background-color:#4cc9f0;">Direct parent</th>
											<th style="text-align:center; background-color:#FFAFCC;">Indication</th>
											<th style="text-align:center; background-color:#FFAFCC;">Pharmacodynamics</th>
											<th style="text-align:center; background-color:#FFAFCC;">Mode of Action</th>
											<th style="text-align:center; background-color:#FFAFCC;">Absorption</th>
											<th style="text-align:center; background-color:#FFAFCC;">Toxicity</th>
											<th style="text-align:center; background-color:#FFAFCC;">Halflife</th>
											<th style="text-align:center; background-color:#FFAFCC;">Distribution Volume</th>
											<th style="text-align:center; background-color:#FFAFCC;">Protein Binding</th>
											<th style="text-align:center; background-color:#FFAFCC;">Dosages</th>
											<th style="text-align:center; background-color:#FFAFCC;">Properties</th>
											<th style="text-align:center; background-color:#a5a58d;">ATC Codes</th>
											<th style="text-align:center; background-color:#a5a58d;">ATC Code Description</th>
											<th style="text-align:center; background-color:#a5a58d;">chEMBL</th>
											<th style="text-align:center; background-color:#a5a58d;">PubChemCompound</th>
											<th style="text-align:center; background-color:#a5a58d;">PubChemSubstance</th>
        						</tr>

										<tr>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
											<th style="text-align:center"> </th>
									</tr>
      				</thead>
							<tbody>
								{% for value in drugdata %}
								<tr>
									<td style="text-align:left">{{value.drug_bankID|safe}}</td>
									<td style="text-align:left">{{value.drugtype|safe}}</td>
									<td style="text-align:left">{{value.drugname|safe}}</td>
									<td style="text-align:left">{{value.groups|safe}}</td>
									<td style="text-align:left">{{value.categories|safe}}</td>
									<td style="text-align:left">{{value.description|safe}}</td>
									<td style="text-align:left">{{value.aliases|safe}}</td>
									<td style="text-align:left">{{value.superclass|safe}}</td>
									<td style="text-align:left">{{value.classname|safe}}</td>
									<td style="text-align:left">{{value.subclass|safe}}</td>
									<td style="text-align:left">{{value.direct_parent|safe}}</td>
									<td style="text-align:left">{{value.indication|safe}}</td>
									<td style="text-align:left">{{value.pharmacodynamics|safe}}</td>
									<td style="text-align:left">{{value.moa|safe}}</td>
									<td style="text-align:left">{{value.absorption|safe}}</td>
									<td style="text-align:left">{{value.toxicity|safe}}</td>
									<td style="text-align:left">{{value.halflife|safe}}</td>
									<td style="text-align:left">{{value.distribution_volume|safe}}</td>
									<td style="text-align:left">{{value.protein_binding|safe}}</td>
									<td style="text-align:left">{{value.dosages|safe}}</td>
									<td style="text-align:left">{{value.properties|safe}}</td>
									<td style="text-align:left">{{value.atc_codes|safe}}</td>
									<td style="text-align:left">{{value.atc_code_detail|safe}}</td>
									<td style="text-align:left">{{value.chEMBL|safe}}</td>
									<td style="text-align:left">{{value.pubChemCompound|safe}}</td>
									<td style="text-align:left">{{value.pubChemSubstance|safe}}</td>
								</tr>
								{% endfor %}
							</tbody>
    			</table>
    	<br />
			</div>
		{% else %}
			<p> Ooops! There is no data to show here yet. </p>
		{% endif %}
  	</div>
</div> 
{% endblock content %}

{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>



<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
			var table = $('#drugdata').DataTable({
					"scrollX": true,
					// 'scrollY': $(window).height()-300,
					'bScrollCollapse': true,
					'paging': true,
					"lengthMenu": [[3, 50, 100, -1], [3, 50, 100, "All"]],
					'orderCellsTop': true,
					'autoWidth': true,
					'buttons' : ['excel'],
					'dom': 'T<"clear">lfrtip',
					//'order': [[0, "acsc"]], // order by drugbank_ID
					"aoColumns": [
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"},
									{"sClass": "center"}],
					'tableTools': {
							"sRowSelect": "multi",
							"aButtons": []
					},
					initComplete: function () {
							$('#drugdata').dataTable().columnFilter({
									'sPlaceHolder': "head:after",
									'aoColumns': [
											{ type: "text" }, //drug_bankID
											{ type: "select" }, //drugtype
											{ type: "text" }, //drugname
											{ type: "select" }, //group
											{ type: "select" }, //category 
											{ type: "text" }, //description
											{ type: "text" }, //aliases
											{ type: "select" }, //superclass
											{ type: "select" }, //classname
											{ type: "select" }, //subclass
											{ type: "select" }, //direct_parent
											{ type: "text" }, //indication
											{ type: "text" }, //pharmacodynamics
											{ type: "text" }, //moa
											{ type: "text" }, //absorption 
											{ type: "text" }, //toxicity
											{ type: "text" }, //halflife
											{ type: "text" }, //distribution_volume
											{ type: "text" }, //protein_binding
											{ type: "text" }, //dosages
											{ type: "text" }, //properties
											{ type: "text" }, //atc_codes
											{ type: "text" }, //atc_code_detail
											{ type: "text" }, //chEMBL
											{ type: "text" }, //pubChemCompound
											{ type: "text" }, //pubChemSubstance
									]
							});
					}

			});
	});
</script>

<script>
	var tableToExcel = (function () {
		var encabezado = '<table>';
		var dataTable = document.getElementById('drugdata').innerHTML;
		var piePagina = "</table>";
		var tabla = encabezado + dataTable + piePagina;
		var myBlob =  new Blob( [tabla] , {type:'text/html'});
		var url = window.URL.createObjectURL(myBlob);
		var a = document.createElement("a");
		document.body.appendChild(a);
		a.href = url;
		a.download = "DrugBrowserData.xlsx";
		a.click();

		setTimeout(function() {window.URL.revokeObjectURL(url);},0);
	});
</script>

{% endblock addon_js %}  
