{% extends "home/base.html" %} 
{% load static %} 
{% csrf_token %} 
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/bootstrap2-toggle.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css" />
<!--This is for the filter, min max, pagination styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css" />
<link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />

{% endblock addon_css %} 




{% block content %} 
{% autoescape off %}

<div style="padding-top: 0px; font-size: 14px; white-space: nowrap; overflow-y:hidden; width: 100%">
  <br />

  <div style="font-size: 12px">
    <p>
      Data showed in this table is collected from the <a href='//go.drugbank.com/' target='_blank'>Drugbank</a> database and <a href='https://www.uniprot.org/' target='_blank'>UniProt</a>
    </p>
  </div>
  <a id="dlink" style="display: none"></a>
  <div id="excel_table" style2="display:none;"></div>

  <button
    onclick="tableToExcel('structures_scrollable', 'Families data', 'EndogenousData.xls')"
    type="button"
    class="btn btn-primary"
    style="margin-top: 10px; margin-top: 3px"
  >
    Export to Excel
  </button>

  <button
    id="reset"
    type="button"
    class="btn btn-primary"
    style="margin-top: 10px; margin-top: 3px"
  >
    Reset filters
  </button>

	<a href="{% url 'search_drugs' %}?q={{ search_query }}">Search for drugs</a>


  <p style="margin-top:10px;margin-bottom:10px;color:#014F86">Interactions for {{drugname}} (drugbank ID =  {{drugID}})</p>

  <div id="structures_scrollable_table">
    <table class="display compact text-nowrap" id='structures_scrollable' style="width: 100%">
      <thead id="headers">
        <tr class="table-filter-dropdown">
          <!-- Position blok -->
					<th style="text-align: left">Drugtype</th>
          <th style="text-align: left">Interacting <br> protein</th>
          <th style="text-align: left">Interaction <br> type</th>
          <th style="text-align: left">UniProt <br> accession</th>
          <th style="text-align: left">Target <br> gene</th>
          <th style="text-align: left">Clinical status</th>
          <th style="text-align: left">Year of approval</th>
          <th style="text-align: left">Phase</th>
					<th style="text-align: left">Status</th>
          <th style="text-align: left">Mechanism of action</th>
          <th style="text-align: left">#Variants</th>
        </tr>
      </thead>
      <tbody id='structures_scrollable_body'>
        {% for value in Array %}
        <tr>
					<td style="text-align: left">{{value.2}}</td>
          <td style="text-align: left">{{value.0}}</td>
          <td style="text-align: left">{{value.1}}</td> 
          <td style="text-align: left">{{value.3}}</td>
          <td style="text-align: left">{{value.4}}</td>
          <td style="text-align: left">{{value.5}}</td>
          <td style="text-align: left">{{value.5}}</td>
          <td style="text-align: left">{{value.5}}</td>
          <td style="text-align: left">{{value.5}}</td>
					<td style="text-align: left">{{value.5}}</td>
          <td style="text-align: left">{{value.5}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />

  </div>
	</div> 

	{% comment %} <div id="connected-graph">
		{% include "connected-graph.html" %}
	</div>  {% endcomment %}
</div>
{% endautoescape %} 
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/datatables.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"> </script>
<script src="{% static 'home/js/select2.full.js' %}"> </script>
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/d3pie.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script>
	// Script for DataTable
	$(document).ready(function() {
		
		$("#structures_scrollable").show();
		oTable1 = $("#structures_scrollable").DataTable({
	    //deferRender: true,
	    scrollY: true,
	    scrollX: true,
	    //scrollCollapse: true,
	    //scroller: true,
	    paging: true,
	    //bSortCellsTop: false, //prevent sort arrows going on bottom row
	    //aaSorting: [],
	    //autoWidth: true,
	    //bInfo: true,
			pagingType: 'full_numbers',
			lengthMenu: [
					[10, 25, 50, -1],
					[10, 25, 50, 'All'],
			],
		})
		
		let column_filters = [];
		// Consequence
		column_filters = column_filters.concat(createYADCFfilters(6, 1, "multi_select", "select2", "Consequence", false, null, null, "80px"));
		// Impact 
		column_filters = column_filters.concat(createYADCFfilters(7, 1, "multi_select", "select2", "Impact", false, null, null, "80px"));

		yadcf.init(oTable1.draw(), column_filters, {
			cumulative_filtering: false
		});
		//yadcf.exFilterColumn(oTable1, [[7, ["HIGH"]]], true);

		$("#reset").click(function() {
			yadcf.exResetAllFilters(oTable1);
		});
	}
	); //End of $(document).ready(function()
	// Script for network plot using D3
		var width = 500,
		height = 500;

		// Set the radius of the center node
		var centerNodeRadius = 70;

		// Set the radius of the other nodes
		var nodeRadius = 50;

		// Set the distance between the center node and the other nodes
		var nodeDistance = 170;

		// Set the number of nodes
		var numNodes = {{length}};

		console.log("centerNodeRadius ",centerNodeRadius);
		console.log("centerNodeRadius ",centerNodeRadius);
		console.log("centerNodeRadius ",centerNodeRadius);
		console.log("centerNodeRadius ",centerNodeRadius);
		console.log("centerNodeRadius ",centerNodeRadius);
		console.log("centerNodeRadius ",centerNodeRadius);
		console.log("centerNodeRadius ",centerNodeRadius);

		// Set the container element and its background color
		var container = d3.select("body")
									.append("div")
									.attr("class", "interaction_container")
									.style("width", 700)
									.style("height", 700);

		// Create a svg element to draw the nodes
		var svg = container.append("svg")
										.attr("width", width)
										.attr("height", height);

		// Create the links between the center node and the other nodes
		var links = svg.selectAll(".link")
							.data(d3.range(numNodes))
							.enter()
							.append("line")
							.attr("class", "link")
							.style("stroke", "black");

		// Set the position of the links
		links.attr("x1", width / 2)
		.attr("y1", height / 2)
		.attr("x2", function(d, i) {
			return width / 2 + nodeDistance * Math.cos(2 * Math.PI * i / numNodes);
		})
		.attr("y2", function(d, i) {
			return height / 2 + nodeDistance * Math.sin(2 * Math.PI * i / numNodes);
		});

		// Create the center node
		//console.log({{drugname}}); 
		var centerNode = svg.append("ellipse")
										.attr("cx", width / 2)
										.attr("cy", height / 2)
										.attr("rx", centerNodeRadius)
										.attr("ry", centerNodeRadius / 2)
										.style("fill", "#73D2DE");
										
		svg.append("text")
			.attr("x",width / 2-30)
			.attr("y",height / 2+5)
			.text('{{drugname}}');
										
		// Create the other nodes
		var nodes = svg.selectAll(".node")
							.data(d3.range(numNodes))
							.enter()
							.append("ellipse")
							.attr("class", "node")
							.attr("rx", nodeRadius)
							.attr("ry", nodeRadius/2)
							.style("fill", "#FFBC42");
							
		// Set the position of the other nodes
		nodes.attr("cx", function(d, i) {
		return width / 2 + nodeDistance * Math.cos(2 * Math.PI * i / numNodes);
		})
		.attr("cy", function(d, i) {
		return height / 2 + nodeDistance * Math.sin(2 * Math.PI * i / numNodes);
		});

		var array_list = {{ test|safe }};
		for (i=0; i < array_list.length; i++) 
		{
			svg.append("text")
				.attr("x", width / 2 + nodeDistance * Math.cos(2 * Math.PI * i / numNodes)-20)
				.attr("y", height / 2 + nodeDistance * Math.sin(2 * Math.PI * i / numNodes)+5)
				.text(array_list[i]['gene_name']); 
		} 


</script>
{% endblock addon_js %}  
