{% extends "home/base2.html" %}
{% load static %}

{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/button_spinner.css' %}" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <form id="search" method="POST" action="{% url ‘search’ %}">
        {% csrf_token %}
        <input type="text" class="form-control" id="txtSearch" name="txtSearch">
        <button type="submit" class="btn btn-default btn-submit">Submit</button>
    </form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){ 
        $("#txtSearch").autocomplete({
            source: "/ajax_calls/search/",
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                }, 0);
            }
          });
    });
</script>
{% endblock scripts %}