<tr>
    <td>{{ genebass_variant.n_cases }}</td>
    <td>{{ genebass_variant.n_controls }}</td>
    <td>{{ genebass_variant.phenocode__description }}</td>
    <td>{{ genebass_variant.phenocode }}</td>
    <td>{{ genebass_variant.n_cases_defined }}</td>
    <td>{{ genebass_variant.n_cases_both_sexes }}</td>
    <td>{{ genebass_variant.n_cases_females }}</td>
    <td>{{ genebass_variant.n_cases_males }}</td>
    <td>{{ genebass_variant.category }}</td>
    <td>{{ genebass_variant.AC }}</td>
    <td>{{ genebass_variant.AF }}</td>
    <td>{{ genebass_variant.BETA }}</td>
    <td>{{ genebass_variant.SE }}</td>
    <td>{{ genebass_variant.AF_Cases }}</td>
    <td>{{ genebass_variant.AF_Controls }}</td>
    <td>{{ genebass_variant.Pvalue }}</td>
</tr>