<div class="row">
    <div style="font-size: 12px">
        <p>
            Data showed in this table is collected from the
            <a href="https://www.ensembl.org" target="_blank">Ensembl</a> database and
            <a href="https://app.genebass.org/" target="_blank">Genebass</a>
        </p>
    </div>
    
    <button type="button" class="btn btn-primary">
        Export to Excel
    </button>

    <button id="reset" type="button" class="btn btn-primary">
        Reset filters
    </button>

    <button id="statistics" type="button" class="btn btn-primary">
        Show statistics
    </button>
</div>

