<tr>
    <td>{{ genebass.n_cases }}</td>
    <td>{{ genebass.n_controls }}</td>
    <td>{{ genebass.phenocode__description }}</td>
    <td>{{ genebass.phenocode }}</td>
    <td>{{ genebass.n_cases_defined }}</td>
    <td>{{ genebass.n_cases_both_sexes }}</td>
    <td>{{ genebass.n_cases_females }}</td>
    <td>{{ genebass.n_cases_males }}</td>
    <td>{{ genebass.category__category_description }}</td>
    <td>{{ genebass.AC }}</td>
    <td>{{ genebass.AF }}</td>
    <td>{{ genebass.BETA }}</td>
    <td>{{ genebass.SE }}</td>
    <td>{{ genebass.AF_Cases }}</td>
    <td>{{ genebass.AF_Controls }}</td>
    <td>{{ genebass.Pvalue }}</td>
</tr>