{% load i18n %}
{% load variant_tags %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabel">{% translate "Gene: " %}<span style="color: orangered">{{ gene.genename }}</span></h4>
    <h4 class="modal-title" id="modalLabel">{% translate 'Variant ID: ' %}<span style="color: orangered;">{{ variant.VariantMarker }}</span></h4>
    <h4 class="modal-title" id="modalLabel">{% translate 'Transcripts: ' %}<span style="color: orangered">{{ transcript_ids|join:", "|escape }}</span></h4>
</div>
<div class="modal-body">
<button
        onclick="genebassVariantTableToExcel()"
        type="button"
        class="btn btn-primary"
        style="margin-top: 10px; margin-top: 3px"
>
    Export to Excel
</button>
    <div class="table-responsive">
        <table class="table" id="genebass-tables">
            <thead>
            {% include 'variant/table-header.html' %}
            </thead>
            <tbody>
            {% for genebass in list_genebass %}
                {% render_genebass_variant_row genebass %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>