{% load static %}

<script src="{% static 'home/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'home/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap-submenu.js' %}"></script>
<script src="{% static 'home/js/navbar-autocomplete.js' %}"></script>
<script src="{% static 'home/js/svg-pan-zoom.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap-treeview.min.js' %}"></script>
<script src="{% static 'home/js/papaparse.min.js' %}"></script>

<!-- 3. flowplayer -->
<script src="{% static 'flowplayer/flowplayer.min.js' %}"></script>
<!-- the overlay plugin -->
<script src="{% static 'flowplayer/flowplayer.overlay.min.js' %}"></script>
<!-- the bootstrap vendor overlay wrapper -->
<script src="{% static 'flowplayer/flowplayer.overlay.bootstrap.js' %}"></script>
<!-- Comply with GDPR Minified Cookie Consent from https://github.com/osano/cookieconsent -->
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/cookieconsent.min.js' %}"></script>
