{% load static %}

<!-- Bootstrap -->
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-submenu.min.css' %}" rel="stylesheet">
<!-- jQueryUI -->
<link rel="stylesheet" href="{% static 'home/css/jquery-ui.min.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'home/css/jquery-ui.theme.min.css' %}" type="text/css" media="all"/>

<!-- TreeView -->
<link href="{% static 'home/css/bootstrap-treeview.min.css' %}" rel="stylesheet">
<!-- Custom styles -->
<link href="{% static 'home/css/style.css' %}" rel="stylesheet">
<!-- flowplayer skin -->
<link href="{% static 'flowplayer/flowplayer.css' %}" rel="stylesheet">
