<script>

    $(document).ready(function () {

        let genebass_table = $("#genebass-tables")
        genebass_table.show()
        let genebass_variant_table = genebass_table.DataTable({
            searchPanes: {
                layout: 'columns-1'
            },
            dom: '<"dtsp-dataTable"frtip>',
            deferRender: true,
            scrollY: true,
            scrollX: true,
            scrollCollapse: true,
            scroller: true,
            paging: true,
            bSortCellsTop: false, //prevent sort arrows going on bottom row
            aaSorting: [],
            autoWidth: true,
            bInfo: true,
            //order: [[7, "asc"]],
            pagingType: 'full_numbers',
            lengthMenu: [
                [10, 25, 50, 100, 200, -1],
                [10, 25, 50, 100, 200, 'All'],
            ],
        })

        let column_filters = [];

        // Variant
        column_filters = column_filters.concat(createYADCFfilters(0, 1, "multi_select", "select2", "Select", false, null, null));

        // Phenocode
        column_filters = column_filters.concat(createYADCFfilters(4, 1, "multi_select", "select2", "Select", false, null, null));

        yadcf.init(genebass_variant_table.draw(), column_filters, {
            cumulative_filtering: false
        });

        gray_scale_table(genebass_table);

        $("#reset").click(function () {
            yadcf.exResetAllFilters(genebass_variant_table);
        });
    });
</script>