<div id="plotly-plot"></div>
<script>
    var vep_scores_data = {{ list_vep_scores | safe }};
    var data = [{
        type: 'violin',
        // y: unpack(rows, 'total_bill'),
        y: [1,2,3,4],
        points: 'none',
        box: {
            visible: true
        },
        boxpoints: false,
        line: {
            color: 'black'
        },
        fillcolor: '#8dd3c7',
        opacity: 0.6,
        meanline: {
            visible: true
        },
        x0: "Total Bill"
    }]

    var layout = {
        title: "",
        yaxis: {
            zeroline: false
        }
    }

    Plotly.newPlot('plotly-plot', data, layout);
</script>
