/* CreateChart CSS */
:root {
    --charge-strength: -45;
}

#threshold-slider-container {
    line-height: 0;
    padding-top: 5px;
    padding-bottom: 1px;
    overflow: visible;
    width: 100%;
    bottom: 0;
    text-align: left;
    float: right;
}

#chart {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    height: 800px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    /*
      border: 5px solid #cccccc4f;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        */
}

@media only screen and (min-height: 800px) {
    #chart {
        display: inline-block;
        vertical-align: top;
        width: 85%;
        height: 800px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0px;
        /*
      border: 5px solid #cccccc4f;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        */
    }

    :root {
        --charge-strength: -45;
    }

    #threshold-slider-container {
        position: fixed;
        line-height: 0;
        padding-top: 5px;
        padding-bottom: 1px;
        overflow: visible;
        width: 100%;
        bottom: 0;
        text-align: left;
        float: right;
    }
}

@media only screen and (max-height: 800px) and (min-height: 700px) {
    #chart {
        display: inline-block;
        vertical-align: top;
        width: 85%;
        height: 650px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0px;
        /*
      border: 5px solid #cccccc4f;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        */
    }

    :root {
        --charge-strength: -30;
    }

    #threshold-slider-container {
        position: fixed;
        line-height: 0;
        padding-top: 5px;
        padding-bottom: 1px;
        overflow: visible;
        width: 100%;
        bottom: 0;
        text-align: left;
        float: right;
    }
}

@media screen and (max-height: 699px) and (min-height: 600) {
    :root {
        --charge-strength: -28;
    }

    #chart {
        display: inline-block;
        vertical-align: top;
        width: 85%;
        height: 600px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0px;
        /*
      border: 5px solid #cccccc4f;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        */
    }

    #threshold-slider-container {
        position: fixed;
        line-height: 0;
        padding-top: 5px;
        padding-bottom: 1px;
        overflow: visible;
        width: 100%;
        bottom: 0;
        text-align: left;
        float: right;
    }
}

@media screen and (max-height: 600px) and (min-height: 500) {
    :root {
        --charge-strength: -25;
    }

    #chart {
        display: inline-block;
        vertical-align: top;
        width: 85%;
        height: 500px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0px;
        /*
      border: 5px solid #cccccc4f;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        */
    }

    #threshold-slider-container {
        position: fixed;
        line-height: 0;
        padding-top: 5px;
        padding-bottom: 1px;
        overflow: visible;
        width: 100%;
        bottom: 0;
        text-align: left;
        float: right;
    }
}

@media screen and (max-height: 500px) {
    :root {
        --charge-strength: -22;
    }

    #chart {
        display: inline-block;
        vertical-align: top;
        width: 85%;
        height: 400px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0px;
        /*
      border: 5px solid #cccccc4f;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        */
    }

    #threshold-slider-container {
        position: fixed;
        line-height: 0;
        padding-top: 5px;
        padding-bottom: 1px;
        overflow: visible;
        width: 100%;
        bottom: 0;
        text-align: left;
        float: right;
    }
}

.color-picker-button {
    width: 10px;
    height: 10px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.hidden-node {
    display: none;
}

.hidden-image {
    display: none;
}

.hidden11 {
    display: none;
}

.text-through {
    text-decoration: line-through;
}

/* Add this CSS to your existing CSS styles */

.node-label {
    font-size: 11px;
    /* Adjust the font size as needed */
}

.line-through-text {
    text-decoration: line-through;
}

.center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px;
}

.first-tab-image {
    max-width: 70%;
    max-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

/*Drug description tab css */
.drug-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.drug-info-row {
    display: table-row;
    border-bottom: 1px solid #ccc;
}

.drug-info-cell {
    display: table-cell;
    padding: 10px;
}

.drug-info-cell.label {
    font-weight: bold;
    width: 30%;
}



/* Bullet styles */
.alias-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.alias-list-item {
    margin-left: 10px;
    padding: 0;
    display: inline;
}

.alias-list-item::before {
    content: '\2022';
    /* Bullet symbol */
    padding-right: 5px;
}

.dosages-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dosages-list-item {
    margin: 0;
    padding: 0;
}

.dosages-list-item::before {
    content: '\2022';
    /* Bullet symbol */
    padding-right: 5px;
}

/*Drug description tab css */

/* Setting force value for simulation inside CreateChart function */

/*
protein Tab CSS
*/

/* Style for the protein info table */
.protein-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style for the table rows */
.protein-info-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

/* Style for the table labels (headers) */
.protein-info-cell.label {
    font-weight: bold;
}

/* Style for the table cells (values) */
.protein-info-cell {
    flex: 1;
    padding: 5px;
}

/* Style for the error message */



/*Interaction description tab css */
.interaction-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.interaction-info-row {
    display: table-row;
    border-bottom: 1px solid #ccc;
}

.interaction-info-cell {
    display: table-cell;
    padding: 10px;
}

.interaction-info-cell.label {
    font-weight: bold;
    width: 30%;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    cursor: pointer;
}


#dialog {
    position: absolute;
    top: 47%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
    width: 70%;
    height: 90vh;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#dialog1 {
    position: absolute;
    top: 47%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
    width: 70%;
    height: 90vh;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#dialog2 {
    position: absolute;
    top: 47%;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
    width: 70%;
    height: 90vh;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.toolbar-left {
    flex: 1;
}

.toolbar-right {
    flex: 1;
    text-align: right;
}

#close-button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}


/*Child Nodes Dialog CSS*/
.nav-tabs1 .nav-link1,
.nav-tabs1 .nav-link1.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link1 {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-tabs1 .nav-link1 {
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs1 {
    border-bottom: 1px solid #dee2e6;
}

.toolbar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.toolbar-left1 {
    flex: 1;
}

.toolbar-right1 {
    flex: 1;
    text-align: right;
}

#close-button1 {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

/*Interaction/Links Dialog CSS */
.nav-tabs2 .nav-link2,
.nav-tabs2 .nav-link2.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link2 {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-tabs2 .nav-link2 {
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tab21 {
    border-bottom: 1px solid #dee2e6;
}

.toolbar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.toolbar-left2 {
    flex: 1;
}

.toolbar-right2 {
    flex: 1;
    text-align: right;
}

#close-button2 {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}





#threshold-slider {
    width: 200px;

}

}

button {
    color: #212529;
    background-color: #e2e4e7;
    border-color: #f8f9fa;
}

.btn-light {
    color: #212529;
    background-color: #e2e4e7;
    border-color: #f8f9fa;
    margin-right: 5px;
    font-size: 13px;
}

.legend-item {
    display: flex;
    align-items: center;
}

/* Add this CSS either in your HTML file's <style> section or in a separate CSS file */
.dropdown1 {
    display: inline-block;
    border-color: inherit;
    /* To set the line color to the same as the background color */
    border-radius: 0;
    /* To remove any border radius, making it a straight line */
    transform: none;
    text-align: center;
}

.legend-color {
    width: 20px;
    height: 20px;
}

h3 {
    font-size: 0.8rem;
}

h1 {
    font-size: 1.5rem;
}

.heading {
    text-align: center;
    margin-top: 20px;
}



#legend,
#legend_drug_status,
#legend_drug_type,
#legend_protein_status {
    /* position: absolute; REMOVE this line, as it's positioning the legends out of the parent div */
    width: 185px;
    margin-top: 15px;
    /* You can adjust this for spacing between each legend */
}

label {
    display: inline-block;
    margin-bottom: .1rem;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#threshold-value {
    padding-right: 10px;
}

svg {
    width: 100%;
    height: 100%;
}

.legend-content,
span {
    margin-left: 10px !important;
    font-size: 11px;
}

.legend-content,
div {
    border-radius: 10px;
    align-items: center;
    margin-bottom: 4px;
}

.zoom-out-icon {
    font-size: 15px;
    margin-top: 5px;
}

.zoom-in-icon {
    font-size: 15px;
    margin-top: 5px;
}

#loading {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 16px solid #c0bdbd;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    /* or any other width you've set */
}

.modal-content span {
    margin-right: 10px;
}

.export-option-button {
    width: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.modal-title {
    margin-bottom: 20px;
    /* adjust as needed */
}

.center-vertical-container {
    position: fixed;
    /* or absolute, depending on your layout */
    top: 2%;
    margin-right: 20px;
    right: 0;
    /* align it to the right edge of the viewport */
    width: 185px;
    /* set the width */
    /* transform: translateY(-50%);         centers the element vertically */
    display: flex;
    /* use flexbox to help with vertical alignment */
    align-items: center;
    /* centers child vertically within this container */
}

#all-legends {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    /* make it take the full width of the container */
    margin-right: 15px;
    /* margin on the right */
}